body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #6b3cff; /* เปลี่ยนสีพื้นหลังเป็นโทนสีม่วงทองอ่อน */
  }
  
  .login-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
  }
  
  button {
    background-color: #c5a6ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  h2 {
    text-align: center;
    color: #6b3cff; /* เปลี่ยนสีตัวอักษรเป็นสีม่วงทองอ่อน */
  }